body{
  margin:0;
}


header{
  width: 100%;
  height: 100vh;
  background: url("../images/HeaderBackground1920x1280.jpg");
}



.content-header {
  padding-top: 10px;
}

#logo{
  margin:0;
  float: left;
  padding-left: 5%;
  color:#F33E57;
}

.content-header ul  {
  float:right;
  padding-right: 5%;
}

.content-header ul li {
  float: left;
  padding-right: 50px;
  list-style: none;
}


.content-header ul li a{
  color:white;
  text-decoration: none;
}


.introduction {
  padding: 10% 25%;
  color:white;
}

.introduction h1 {
  clear: both;
  text-align: center;
  font-size: 45px;
  line-height: 45px;
}

.introduction h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px
}

main {
  padding: 10px;
}

main > h1 {
  text-align: center;
  color: black;
  font-size:40px;
  margin-top: 40px;
}


main .part-services{
  float: left;
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}


.services-content  p{
  text-align: justify;
}


.services-content p {
  text-align: center;
}


/* --------- START THE CODE HERE ------- */

/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
 main .part-services{
   display: block;
   width: 100%;
 }
 .content-header {
   display: block;
   width: 100%;
 }
 
 .content-header ul li{
   padding: 10px;
     display: block;
  width: 100%;
}
.introduction{
  display: block;
  text-align: center;
  width: 100%;
}
.introduction h1{
  font-size: 20px;
  width: 50%;
}
.introduction h5{
  font-size: 10px;
  width: 60%;
  float: none;
}
.introduction {
  display: block;
}
.container{
  display: block;
  width: 100%;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  main .part-services{
  display: block;
   width: 50%;
  }
  .content-header{
    display: block;
    width: 100%;
  }
 }


/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }
